*,html,body
{   margin: 0;
    padding:0;

}
body{
    height: 3000px;
}
header
{   
    width: 100%;
    height: 100px;
    line-height: 100px;
    position:fixed;
    z-index: 1;
}
.secondary
{
    background-color: rgb(15, 164, 250);
    box-shadow: 0px 0px 17px 0px;
    transition:all 0.9s ease-in;
}
ul
{
    list-style: none;
}
ul li
{
    display: inline-block;
}
header nav
{
    float: right;
}

.logo img{
    margin-top: 10px;
    height: 70px;
    margin-left: 50px;
}
header nav ul li a
{
    padding-right: 30px;
    font-weight:bold;
    color: white;

}
header nav ul li a:hover
{
    text-decoration:none;
    color: tomato;
    transition: all 0.5s ease-in;
}
.img1 
{   
    background-image:linear-gradient(rgb(0,0,0,0.7),rgb(0,0,0,0.7)), url(..//image/slider1.jpg);
    background-size: 100% 100%;
}

.img1 p
{   
    color: rgb(255, 255, 255);
}

.slider,.slider ul, .slider ul li 
{
    height: 710px;
    width: 100%;
    color:whitesmoke;
    text-align: center;

}

.slider h2
{
    font-weight: bold;
    margin-top: 250px;
}

.slider span
{
    color: gold;
}

.slider a
{
    padding: 10px 60px;
    margin-right: 10px;
    
}
.slider a.btn-half
{   
    background-color:gold;
    color: white;
    font-weight:bolder;
}
.slider a.btn-full
{
    background-color: turquoise;
    color: white;
    font-weight: bold;
}
.img2
{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.5)),url(../image/slider2.jpg);
    background-size:100% 100%;
}
.img3
{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.7)),url(../image/slider3.jpg);
    background-size: 100% 100%;
}

.slider a.btn-half:hover
{
    background-color:goldenrod;
}

.slider a.btn-full:hover
{
    opacity: 0.7;
    
}
.intro 
{   padding: 100px 0px;
    text-align: center;
    position: relative;
}

.sub-heading
{
    position: relative;
    margin-bottom: 75px;

}
.sub-heading:before
{
    content: "";
    position: absolute;
    top:100%;
    left: 50%;
    margin-left: -3%;
    width: 6%;
    height: 1px;
    background-color:rgb(15, 164, 250);
    z-index: 1;
    transition: 0.3s ease;
}
.sub-heading:hover:before
{
    width: 24%;
    margin-left: -12%;
}
.sub-heading:after
{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -12%;
    width: 24%;
    height: 1px;
    background-color: #e1e1e1;
}
.sub-heading p
{
    color: #818181;
    display: inline-block;
    padding: 0px 0px 20px;
    position: relative;
    line-height: 24px;
    letter-spacing: 0.025em;

}