*,html,body
{   margin: 0;
    padding:0;

}
body{
    height: 3000px;
}
header
{   
    width: 100%;
    height: 100px;
    line-height: 100px;
    position:fixed;
    z-index: 1;
}
.secondary
{
    background-color: rgb(15, 164, 250);
    box-shadow: 0px 0px 17px 0px;
    transition:all 0.9s ease-in;
}
ul
{
    list-style: none;
}
ul li
{
    display: inline-block;
}
header nav
{
    float: right;
}

.logo img{
    margin-top: 10px;
    height: 70px;
    margin-left: 50px;
}
header nav ul li a
{
    padding-right: 30px;
    font-weight:bold;
    color: white;

}
header nav ul li a:hover
{
    text-decoration:none;
    color: tomato;
    transition: all 0.5s ease-in;
}
.img1 
{   
    background-image:linear-gradient(rgb(0,0,0,0.7),rgb(0,0,0,0.7)), url(..//image/slider1.jpg);
    background-size: 100% 100%;
}

.img1 p
{   
    color: rgb(255, 255, 255);
}

.slider,.slider ul, .slider ul li 
{
    height: 710px;
    width: 100%;
    color:whitesmoke;
    text-align: center;

}

.slider h2
{
    font-weight: bold;
    margin-top: 250px;
}

.slider span
{
    color: gold;
}

.slider a
{
    padding: 10px 60px;
    margin-right: 10px;
    
}
.slider a.btn-half
{   
    background-color:gold;
    color: white;
    font-weight:bolder;
}
.slider a.btn-full
{
    background-color: turquoise;
    color: white;
    font-weight: bold;
}
.img2
{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.5)),url(../image/slider2.jpg);
    background-size:100% 100%;
}
.img3
{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.7)),url(../image/slider3.jpg);
    background-size: 100% 100%;
}

.slider a.btn-half:hover
{
    background-color:goldenrod;
}

.slider a.btn-full:hover
{
    opacity: 0.7;
    
}
.intro 
{   padding: 100px 0px;
    text-align: center;
    position: relative;
}

.sub-heading
{
    position: relative;
    margin-bottom: 75px;

}
.sub-heading:before
{
    content: "";
    position: absolute;
    top:100%;
    left: 50%;
    margin-left: -3%;
    width: 6%;
    height: 1px;
    background-color: deepskyblue;
    z-index: 1;
    transition: 0.3s ease;
}
.sub-heading:hover:before
{
    width: 24%;
    margin-left: -12%;
}
.sub-heading:after
{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -12%;
    width: 24%;
    height: 1px;
    background-color: #e1e1e1;
}
.sub-heading p
{
    color: #818181;
    display: inline-block;
    padding: 0px 0px 20px;
    position: relative;
    line-height: 24px;
    letter-spacing: 0.025em;

}
.intro-block
{ position:relative;
  background:#f7f7f7;
  margin:50px 0px 0px;
  text-align:center;
  margin-bottom:230px;
  padding: 70px 20px 30px;
}
.intro-block:hover, .intro-block.active
{
 background:#0AABE1;
}
.intro-block:hover
{  
  transition: .6s ease;
}
.intro-block .intro-icon
{ position:absolute;
  top:-30px;
  left:50%;
  margin-left:-30px;
}
.intro-block .fa
{ width:63px;
  height:63px;
  font-size:30px;
  color:white;
  line-height:2;
  background:deepskyblue;
  border-radius:50%;
  box-shadow:0px 0px 0px 7px #CCEEF9;
}

.intro-block:hover .fa , .intro-block.active .fa
{ background:white;
 color:deepskyblue;
 box-shadow:0px 0px 0px 10px #CCEEF9;
 transition: .6s ease;
 width:68px;
 height:68px;
 font-size:35px;

}
.intro-block h3
{ color:deepskyblue;
  font-weight:700;
  text-transform:uppercase;
  margin-bottom:15px;
}
.intro-blick p
{ color:#505050;
}
.intro-block:hover h3, .intro-block:hover p
{
 color:#f6f6f6;
 font-weight:730;
}
.feature-area
{
 background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../image/slider3.jpg);
 background-position:center;
 background-attachment:fixed;
 padding:100px 0;
}
.title h3
{ color:white;
  margin-top:50px;
}
.title .sub-heading p
{ color:#f3f3f3;
}
.single-feature p,h3
{ color:white;
}
.single-feature .feature-icon i
{ color:white;
  padding:15px;
  font-size:30px;
  background:#00a7dd;
  border:2px solid #fff;
  transition: .6s ease;
  border-radius:50%;
  width:64px;
  height:64px; 
  transition: 0.3s ease;
}
.single-feature
{
 width:325px; float:left; padding:30px 0; text-align:center; position:relative; border-right:1px solid #65c8e5;
 border-bottom:1px solid #65c8e5;
}
.feature-block:hover .single-feature
{
 border-colo:white;
 transition: 0.3s ease;
}
.single-feature:hover .feature-icon .fa
{
 border:2px solid #00a7dd;
 background:white;
 color:deepskyblue;
}
.single-feature:nth-of-type(even)
{ border-right:none;
}
.single-feature:nth-last-child(2)
{ border-bottom:none;
}

.single-feature:last-child
{ border-bottom:none;
}